<div id="main" role="main" class="accounting-closing">
	<div id="ribbon">
		<ol class="breadcrumb">
			<li>Accounting</li><li>Closing</li>
		</ol>
		<div class="user-table-container">
			<div style="font-weight:800; margin-bottom:10px;">Periode List&nbsp;<div class="btn btn-xs btn-success" v-if="closing_list">{{closing_list[0].period_year}}</div></div>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th style="vertical-align:middle; width:10px;"></th>
						<th style="vertical-align:middle;">Bulan</th>
					</tr>
				</thead>
				<tbody v-if="closing_list">
					<tr v-for="(data, index) in closing_list">
						<td><input v-model="checked" v-bind:value="data.period_begin" :id="data.period_begin" type="checkbox" v-bind:checked="data.period_status == 'C'"></td>
						<td><label :for="data.period_begin">{{data.period_month}}</label></td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="col-xs-12 col-sm-3">        
					<button class="btn btn-primary" @click="doProcess()" v-if="closing_list.length == 12">Closing</button>
				</div>
			</div>
			&nbsp;
		</div>
	</div>
</div>
