<div class="widget">
	<div class="widget-header">
		<i class="fa fa-home fa-md" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
		<label>News Promo Harian Dan Bulanan Untuk Agent</label>
	</div>
	<div id="widget-body">
		<div class="well">
			<div id="myCarousel-2" class="carousel slide">
				<ol class="carousel-indicators">
					<li data-target="#myCarousel-2" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel-2" data-slide-to="1" class=""></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img src="static/img/Commercial-promo-01.jpg" alt="" style="width:100%;">
					</div>
					<div class="item">
						<img src="static/img/Commercial-promo-02.jpg" alt="" style="width:100%;">
					</div>
				</div>
				<a class="left carousel-control" href="#myCarousel-2" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
				<a class="right carousel-control" href="#myCarousel-2" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
			</div>
		</div>
	</div>
</div>